{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-12">
                <h1 class="text-left">ОБ ЭНЕРГОСЕРВИСЕ</h1>
                <p>Энергосервисный контракт – форма договора, по которому энергосервисная компания за собственные средства проводит комплекс работ (действий),
                направленных на энергосбережение и повышение энергетических ресурсов, а Заказчик оплачивает услуги энергоервисной компании за счет полученной
                экономии. Дополнительных расходов из бюджета Заказчика, как правило, не требуется.</p>
            </div>
            <div class="col-12">
                <h2 class="text-left">НОРМАТИВНО-ПРАВОВАЯ БАЗА</h2>
                <li>ФЕДЕРАЛЬНЫЙ ЗАКОН ОБ ЭНЕРГОСБЕРЕЖЕНИИ И О ПОВЫШЕНИИ ЭНЕРГЕТИЧЕСКОЙ ЭФФЕКТИВНОСТИ №261-ФЗ</li>
                <li>Федеральный закон от 05.04.2013 N 44-ФЗ (ред. от 29.07.2017) “О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд”, Статья 108. Особенности заключения энергосервисных контрактов.</li>
                <li>Бюджетный кодекс РФ, статья 72.</li>
                <li> Постановление Правительства РФ от 18.08.2010 N 636 (ред. от 10.12.2016) “О требованиях к условиям энергосервисного договора (контракта) и об особенностях определения начальной (максимальной) цены энергосервисного договора (контракта) (цены лота)”.</li>
        </div>
    </div>
{% endblock %}