{% extends 'landing/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-12">
                <h2 class="text-left">С ЧЕГО НАЧАТЬ</h2>
                <p>Для предварительной оценки возможной эффективности проведения энергосервисных мероприятий потенциальному Заказчику
необходимо:</p>
                <p><b>1. Предоставить данные об объекте энергосервиса. <br>
2. Заполнить опросный, ответив на основные вопросы – о существующем оборудовании, его мощности, режиме работы, энергопотреблении.</b></p>
                <p>Например, для уличного освещения муниципального образования на первом этапе достаточно ответить на несколько вопросов:</p>
                <p>
Количество светильников (желательно с разбивкой по типам, отдельно указав парковые)
</p>
                <p>Количество потребленной электроэнергии уличным освещением за прошлый год в кВт*ч, и текущий тариф по оплате электроэнергии с НДС, не забыв при этом указать название муниципального образования и контакты для обратной связи.
 </p>

                <p>Далее наши сотрудники осуществят предварительный подбор оборудования, сделают предварительные расчеты, которые будут направлены Вам для ознакомления и принятия решения о сотрудничестве.</p>
            </div>
            <div class="col-12">
                <h2 class="text-left">ЭТАПЫ СОТРУДНИЧЕСТВА</h2>

                <div class="container">
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse1">1. Предварительное энергообследование</a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                          <li class="list-group-item"> <p>На этом этапе происходит сбор информации об объекте энергосервиса (заполнение опросных листов Заказчиком, проведение предварительных расчетов).</p> <p>На данном этапе Заказчик предоставляет информацию о действующей системе энергопотребления (например, количество и тип уличных светильников, установленных на улицах муниципального образования), о количестве потребленного энергоресурса в натуральном выражении за базовый период (прошлый год, кВт*ч или другое) и действующем тарифе.</p> </li>
                        </ul>
                      </div>
                    </div>
                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse2">2. Выявление потенциала экономии</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"> <p>Происходит формирование предварительных расчетов экономии, расчета окупаемости затрат, оценка возможности реализации энергосервисного контракта в чистом виде на данном объекте.</p> <p>На данном этапе Заказчику предоставляется концепция энергосервисных мероприятий, и, после принятия Заказчиком данной концепции за основу, начинается реализация следующего этапа.</p> </li>
                        </ul>
                      </div>
                    </div>
                       <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse3">3. Поиск инвестиционно-привлекательных решений</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"> <p>На данном этапе Заказчику предоставляется концепция энергосервисных мероприятий, и, после принятия Заказчиком данной концепции за основу, начинается реализация следующего этапа.</p> </li>
                        </ul>
                      </div>
                    </div>
                     <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse4">4. Разработка программы энергосбережения</a>
                        </h4>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"> <p>Формирование окончательного предложения, основанного на п.3. Проводится разработка детального плана энергоэффективных мероприятий, разработка Технического задания энергосервисного контракта, определение размеров экономии. На данном этапе наши сотрудники проводят энергетическое обследование непосредственно на объекте, включая проектные работы, разработка и согласование с Заказчиком Технического задания.</p> </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse5">5. Привлечение финансирования для проекта</a>
                        </h4>
                      </div>
                      <div id="collapse5" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"> <p>Энергосервисная компания проводит модернизацию за счет собственных средств или с привлечением средств банковской организации.</p> </li>
                        </ul>
                      </div>
                    </div>
                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse6">6. Реализация проекта модернизации «под ключ»</a>
                        </h4>
                      </div>
                      <div id="collapse6" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"> <p>Установка энергоэффективного оборудования в течение срока, оговоренного в энергосервисном контракте.</p> </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse7">7. Расчеты по контракту</a>
                        </h4>
                      </div>
                      <div id="collapse7" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item"> <p>Заказчик выплачивает часть сэкономленных средств после модернизации оборудования согласно договору энергосервисной компании. Другая часть остается в распоряжении Заказчика.</p> </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
            <div class="col-12">
                <div >
                    <a><i class="fa fa-envelope"></i></a>
                    <a href="{% static 'media/files/Опросный-лист-Энергосервис.doc' %}" download>Скачать опросный лист</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}